@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.banner {
  padding: 100px 0;
  background-image: url("../../../assets/shop/banner.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.banner .content h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}
.banner .content p {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.banner .content p .home {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.banner .content p .home:hover {
  text-decoration: underline;
}
.banner .content p .shop {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.banner .content p .shop:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .banner {
    padding: 40px 0;
  }
  .banner .content h1 {
    font-size: 35px;
  }
}nter;
  }
  #hero .hero__container .box {
    background: none;
    justify-content: center;
    align-items: center;
  }
  #hero .hero__container .box span {
    text-align: center;
  }
  #hero .hero__container .box h1 {
    max-width: 100%;
    text-align: center;
  }
  #hero .hero__container .box p {
    max-width: 100%;
    text-align: center;
    color: black;
  }
}
@media (max-width: 500px) {
  #hero {
    padding: 40px 0;
    margin-top: 70px;
  }
  #hero .hero__container .box {
    padding: 30px;
    width: 100%;
  }
  #hero .hero__container .box p {
    font-size: 16px;
  }
  #hero .hero__container .box h1 {
    font-size: 40px;
    line-height: 50px;
  }
  #hero .hero__container .box a {
    padding: 10px 30px;
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  #hero {
    margin-top: 65px;
    padding: 30px 0;
    background-position: center center;
  }
  #hero .hero__container .box {
    padding: 20px 0;
  }
  #hero .hero__container .box h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 5px 15px;
  }
  #hero .hero__container .box span {
    font-size: 14px;
  }
  #hero .hero__container .box p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}