@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.pagination {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pagination ul .active-page {
  width: 50px;
  height: 50px;
  background: #B88E2F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.pagination ul li {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: #F9F1E7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.pagination .next,
.pagination .prev {
  width: 100px;
  height: 50px;
  background: #F9F1E7;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.pagination .next:hover,
.pagination .prev:hover {
  background: #B88E2F;
  color: white;
}
@media (max-width: 600px) {
  .pagination {
    gap: 20px;
  }
  .pagination ul {
    gap: 20px;
  }
  .pagination ul li {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .pagination ul .active-page {
    width: 40px;
    height: 40px;
  }
  .pagination .next,
  .pagination .prev {
    height: 40px;
    width: auto;
    padding: 0 10px;
    font-size: 16px;
  }
}