#cart-list {
  margin-top: 72px;
  margin-bottom: 85px;
}
#cart-list .cart-list-container {
  display: flex;
  gap: 30px;
}
#cart-list .cart-list-container .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}
#cart-list .cart-list-container .left table thead {
  height: 60px;
  background: #F9F1E7;
}
#cart-list .cart-list-container .left table thead tr th {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}
#cart-list .cart-list-container .left table tbody tr .pic .picc {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
#cart-list .cart-list-container .left table tbody tr .pic .picc img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
#cart-list .cart-list-container .left table tbody tr .pic .picc span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9F9F9F;
}
#cart-list .cart-list-container .left table tbody tr .price .pricee span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9F9F9F;
}
#cart-list .cart-list-container .left table tbody tr .actions .actionss {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100% !important;
}
#cart-list .cart-list-container .left table tbody tr .actions .actionss button {
  padding: 5px 10px;
  border: none;
  background-color: #ffdfb7;
  border-radius: 10px;
  cursor: pointer;
}
#cart-list .cart-list-container .left table tbody tr .actions .actionss span {
  padding: 5px 13px;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}
#cart-list .cart-list-container .left table tbody tr .total .totall {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#cart-list .cart-list-container .left table tbody tr .total .totall span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: black;
}
#cart-list .cart-list-container .left table tbody tr .total .totall button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#cart-list .cart-list-container .right {
  width: 30%;
}
#cart-list .cart-list-container .right .box {
  padding: 15px 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F9F1E7;
  height: auto;
}
#cart-list .cart-list-container .right .box h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: black;
  margin-bottom: 65px;
}
#cart-list .cart-list-container .right .box .subtotal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cart-list .cart-list-container .right .box .subtotal h5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: black;
}
#cart-list .cart-list-container .right .box .subtotal span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9F9F9F;
}
#cart-list .cart-list-container .right .box .total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}
#cart-list .cart-list-container .right .box .total h5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: black;
}
#cart-list .cart-list-container .right .box .total span {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #B88E2F;
}
#cart-list .cart-list-container .right .box .checkout {
  padding: 14px 58px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: black;
  transition: 0.3s;
}
#cart-list .cart-list-container .right .box .checkout:hover {
  background-color: black;
  color: white;
}