#cart-list {
  margin-top: 72px;
}
#cart-list .cart-list-container .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#cart-list .cart-list-container .left .item-card {
  display: flex;
  align-items: center;
}
#cart-list .cart-list-container .left .item-card .pic img {
  width: 100px;
  height: 100px;
}
#cart-list .cart-list-container .left .item-card .name span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9F9F9F;
}