@use "variables" as *;

$rem-base: 16px;

@function calculateRem($size) {
  @return calc($size / $rem-base) * 1rem;
}

// ----------------- Button
@mixin button($padding-y,
  $padding-x,
  $text-color,
  $font-size,
  $background-color) {
  display: inline-block;
  padding: $padding-y $padding-x;
  color: $text-color;
  font-size: $font-size;
  background-color: $background-color;
  border-radius: 8px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

// ----------------- Flexbox
@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// ----------------- Grid
@mixin grid($cols, $gap) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: $gap;
}

// @mixin text($text) {
//   $font-sizes: (
//     xs: 12px,
//     s: 16px,
//     m: 18px,
//     l: 24px,
//     xl: 36px,
//   );
//   $line-heights: (
//     xs: 18px,
//     s: 28px,
//     m: 28px,
//     l: 36px,
//     xl: 54px,
//   );
//   font-weight: 400;
//   font-style: normal;
//   font-size: calculateRem(map-get($font-sizes, $text));
//   line-height: calculateRem(map-get($line-heights, $text));
// }