  @use "../../../sass/abstracts" as *;

  .banner {
    padding: 100px 0;
    background-image: url("../../../assets/shop/banner.png");

    @include flexbox(row, center, center);

    .content {
      @include flexbox(column, center, center);
      gap: 5px;

      h1 {
        font-family: Poppins;
        font-size: 48px;
        font-weight: 500;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
      }

      p {
        @include flexbox(row, start, center);
        gap: 10px;

        .home {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: black;

          &:hover {
            text-decoration: underline;
          }
        }

        .shop {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media(max-width: 500px) {
      padding: 40px 0;

      .content {
        h1 {
          font-size: 35px;
        }
      }
    }
  }